
<div class="col-sm-2">
      

    <div class="container">
        
    <input type="search" class="form-control" ng-model="search" placeholder="search by code"></input>
      </div>

     
      <p><strong>Sort by:</strong> 

      <select ng-model="orderProp">
        <option value="price">price</option>
        <option value="vibration">vibration rate</option>
      </select>
    </div> 
    

<div class="container">
<p><strong>Page:</strong> {{tableParams.page()}}
    <p><strong>Count per page:</strong> {{tableParams.count()}}


        <table ng-table="tableParams" class="table ng-table-responsive">            <thead>
                <tr>
                    <th>code</th>
                    <th>market</th>
                    <th>price</th>
                    <th>vibration rate</th>
                    <th>operation</th>
                </tr>
            </thead>
            <tbody>


                <tr ng-repeat="stockCode in $data | filter:{code:search} | orderBy:orderProp">
                  {{orderProp}}
                    <td>{{stockCode.code}}</td>
                    <td>{{stockCode.market}}</td>
                    <td>{{stockCode.price/700 | currency:" $ "}}</td>
                    <td>{{stockCode.vibration/100.00}}%</td>
                    <td>
                        <button type="button" ng-click="remove(stockCode.code)" class="btn btn-danger">remove</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        total quantity
                    </td>
                    <td>
                        {{commonData.stockCodes.length}}
                    </td>
                    <td>
                        average price
                    </td>
                    <td>
                        {{averagePrice()/700 | currency:" $ "}}
                    </td>
                    <td colspan="2">
                      <a href="#/new">Create new one</a>
                     </td>
                </tr>
            </tbody>
        </table>

        