<div class="container">
  <h1 class="page-header" id="navigation">Welcome</h1>
    
      
      <p>In physics, the angular velocity is defined as the rate of change of angular displacement and is a vector quantity (more precisely, a pseudovector) which specifies the angular speed (rotational speed) of an object and the axis about which the object is rotating.</p>
      <div>
      <img src="http://localhost:8080/images/3.jpg" alt="">
      </div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
</div>